<h1 class="text-primary">Login Usuario</h1>

<form method="post">
    <label class="form-label">Email: </label>
    <input type="text" name="email" class="form-control" />    
    <label class="form-label">Contraseña: </label>
    <input type="text" name="password" class="form-control" />
    <button>
        Enviar
    </button>
</form>

<h2 class="text-danger">
    @ViewData["MENSAJE"]
</h2>